<head>
  <title>Waiter Availability</title>
  <link rel="stylesheet" href="/css/waiter.css">
</head>
<h1>Waiter's Schedule</h1>
</div>
<div class="yellow">More waiters
</div>
<div class="green">Enough waiters
</div>
<div class="red">Over subscribed
</div><br>
<br>
<br>
<table frame="box">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>

  <tr>
    <td class= {{mondayColor}}>
      <ul>
        {{# Monday}}
          <li>{{this}}</li>
        {{/Monday}}
    </td>

    <td class= {{TuesdayColor}}>
      {{# Tuesday}}
        <li>{{this}}</li>
      {{/Tuesday}}
    </td>

    <td class= {{WednesdayColor}}>
      {{# Wednesday}}
        <li>{{this}}</li>
      {{/Wednesday}}
    </td>

    <td class= {{ThursdayColor}}>
      {{# Thursday}}
        <li>{{this}}</li>
      {{/Thursday}}
    </td>

    <td class= {{FridayColor}}>
      {{# Friday}}
        <li>{{this}}</li>
      {{/Friday}}
    </td>

    <td class= {{SaturdayColor}}>
      {{# Saturday}}
        <li>{{this}}</li>
      {{/Saturday}}
    </td>

    <td class= {{SundayColor}}>
      {{# Sunday}}
        <li>{{this}}</li>
      {{/Sunday}}

      </ul>
    </td>
  </tr>
</table>

<form class="" action="/remove" method="post">
  <button type="submit" name="reset"  required="">Reset</button>
</form>
<p>{{message}}</p>
