<h1>WAiter's shadule</h1>

<table frame="box">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wenesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>

  </thead>

  <td>
    {{# each Sunday}}
      {{this}}
      {{/each}}
  </td>
  <td>
    {{# each Monday}}
      {{this}}
      {{/each}}
  </td>
  <td>
    {{# each Tuesday}}
      {{this}}
      {{/each}}
  </td>
  <td>
    {{# each Wenesday}}
      {{this}}
      {{/each}}
  </td>
  <td>
    {{# each Thursday}}
      {{this}}
      {{/each}}
  </td>
  <td>
    {{# each Friday}}
      {{this}}
      {{/each}}
  </td>
  <td>
    {{# each Saturday}}
      {{this}}
      {{/each}}
  </td>
</table>
